@charset "utf-8";

/* General styles*/
/*Define your own styles in this stylesheet*/
body{
  background-image: url("images/Vermont_fall_1600x1000.jpg");
  background-position: left top;
  background-size: cover;

}
h1, h2, h3, h4, h5, h6{
	font-family: 'montserrat' , sans-serif;
	font-style: normal;
	font-weight: 400;
}
p{
	font-size: 14px;
	font-family: 'alice', sans-serif;
	font-style: normal;
	font-weight: 100;
  color: #fff;
  line-height: 1.8;
}


/* Link styles*/
a {
  color: rgba(104,157,71,1.00);
}
a:visited {
  color: rgba(104,157,71,1.00);
}
a:hover {
  color: rgba(121,178,86,1.00);
}
.linkStyle {
  color: rgba(104,157,71,1.00);
  font-family: 'montserrat', sans-serif;
  font-style: normal;
  text-decoration: none;
}


/* Typography styles*/
.textStyle {
	font-family: 'montserrat', sans-serif;
	font-style: normal;
	color: rgba(146,146,146,1.00);
}

.sectionTextL {
	text-align: left;
	color:#AD532D;
	margin-left: 20%;
	margin-right: 30%;
	margin-top: 0%;
	margin-bottom: 0%;
}
.sectionTextR {
	text-align: center;
	color:#fff;
	margin-left: 20%;
	margin-right: 30%;
	margin-top: 8%;
	margin-bottom: 1%;

}

.paraContentL{
	font-size: 16px;
	font-family: arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #000;
	line-height: 1.6;
	margin-left: 20%;
	margin-right: 25%;
	margin-top: 0%;
}
.paraContentR{
	font-size: 14px;
	font-family: ariel, sans-serif;
	font-style: normal;
	font-weight: 400;
	/*color: #fff;*/
	line-height: 1.6;
	margin-left: 25%;
	margin-right: 32%;
	margin-top: 0%;
}
.contentArea{
	font-size: 14px;
	font-family: alice , sans-serif;
	font-style: normal;
	font-weight: 100;
	line-height: 1.6;
	margin-left: 5%;
	margin-right: 5%;
}
.socialBlockL{
	display:block;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
.socialIcon {
	margin: 0px 6px;	
}

/*Footer styles*/
.footerTitle {
    text-align: center;
    font-size: 22px;
}
.footerTextContainer {
	text-align: justify;
	margin-bottom: 10%;
}
.gall {
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	}

.campaignBtnBlock{
	display:block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
}

.button {
	display:block;
	width: auto;
	margin-left: auto;
	margin-right: auto;
    background-color: #689D47; /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	letter-spacing: 1.5px;
	font-family: arial, sans-serif;
	font-weight: 400;
    margin: 10px 2px 30px 2px;
    cursor: pointer;
}

.campaignBanner{
	display:block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.0em;
}
